.ant-layout {
  min-height: 100vh;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.ant-menu-item > a {
  display: inline;
  color: white;
}

.ant-layout-sider-collapsed .anticon {
  font-size: 16px;

}

.ant-layout-sider-collapsed .nav-text, 
.ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}
